<head>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <!--add new item template--> 
    <template id="add-item-template"> 
    <div class="input-group"> 
      <input @keyup.enter="addItem" v-model="newItem" 
        placeholder="add shopping list item" type="text" 
        class="form-control"> 
      <span class="input-group-btn"> 
        <button @click="addItem" class="btn btn-default" 
          type="button">Add!</button> 
      </span> 
    </div> 
  </template> 
   
  <!--list item template--> 
  <template id="item-template"> 
    <li :class="{ 'removed': item.checked }"> 
      <div class="checkbox"> 
        <label> 
          <input type="checkbox" v-model="item.checked"> {{ item.text }} 
        </label> 
      </div> 
    </li> 
  </template> 
   
  <!--items list template--> 
  <template id="items-template"> 
    <ul> 
      <item-component v-for="item in items" :item="item">
      </item-component> 
    </ul> 
  </template> 
   
  <!--change title template--> 
  <template id="change-title-template"> 
    <div> 
      <em>Change the title of your shopping list here</em> 
      <input v-bind:value="value" v-on:input="onInput"/> 
    </div> 
  </template>
  <div id="app" class="container"> 
    <h2>{{ title }}</h2> 
    <add-item-component v-on:add="addItem" :items="items"></add-item-component> 
    <items-component :items="items"></items-component> 
    <div class="footer"> 
      <hr/> 
      <change-title-component v-model="title"></change-title-component> 
    </div> 
  </div>
  <script>
    var data = { 
        items: [{text: 'Bananas', checked: true},
                { text:'Apples', checked: false}], 
        title: 'My Shopping List',
        newItem: '' 
    }; 
    //add item component 
    Vue.component('add-item-component', { 
        template: '#add-item-template', 
        data: function () { 
            return {
                newItem: ''
            } 
        }, 
        methods: { 
            addItem: function () { 
                var text; 
                text = this.newItem.trim(); 
                if (text) { 
                    this.$emit('add', this.newItem);
                    this.newItem = '';
                }
            } 
        } 
    }); 
    //item component 
    Vue.component('item-component', { 
        template: '#item-template', 
        props: ['item'] 
    });
    //items component 
    Vue.component('items-component', { 
        template: '#items-template', 
        props: ['items'] 
        }); 
    //change title component 
    Vue.component('change-title-component', { 
        template: '#change-title-template', 
        props: ['value'], 
        methods: { 
            onInput: function (event) { 
            this.$emit('input', event.target.value) 
            } 
        } 
    });
    new Vue({ 
        el: '#app', 
        data: data,
        methods: {
            addItem: function (text) {
                this.items.push({
                    text: text,
                    checked: false
                });
            }
        }
    });
  </script>
</body>